build
.cache
.idea
.vscode
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
scratchpad/metadata.ducklake
scratchpad/data/
scripts/data/
duckdb_benchmark_data/
